html(manifest="app.manifest")
    head
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400&subset=latin,latin-ext' rel='stylesheet' type='text/css')
        link(href="https://fontastic.s3.amazonaws.com/4W99YizmV7sJGMZLSxZnzM/icons.css" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="./main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        #app

        script(type='text/javascript' src="./app.js")
