@import url('../node_modules/normalize.css/normalize.css');

$border-color: #D2D8E0;
$selected-background: #E4E9F1;
$text-color--selected: #3F5068;
$text-color: #505364;

%header-text {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 40px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

[class^="icon-"], [class*=" icon-"] {
  height: 16px;
  width: 16px;
  display: inline-block;
  fill: currentColor;
}

button {
    cursor: pointer;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  font-family: 'Open-Sans', sans-serif;
  color: $text-color;
}

p, div {
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
}

$header-background: #357CC7;
.header {
  display: flex;
  height: 30px;
  background: $header-background;

}

.header-button {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    min-width: 100px;
    width: 100px;
    font-size: 12px;
    font-weight: normal;
    color: white;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
        color: $text-color--selected;
    }
}

.header-button--disabled {
    color: $text-color;
}

.connection-button {
    color: red;
    text-decoration: underline;
}

.connection-button--online {
    color: white;
    text-decoration: none;
}

.app {
  height: 100%;
  width: 100%;
}

.app__content-container {
  display: flex;
  height: 100%;

}

.app__navigation-area {
  flex: 1 1 auto;
  min-width: 200px;
  max-width: 200px;
  height: 100%;

}

.app__content-area {
  flex: 1 1 auto;
  height: 100%;
}

.header {

}

.mail-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

$mail-list__header-background: #E1E5F3;
$mail-list__header-border: #CFD5E0;

.mail-list__header {
  font-weight: bold;
  background: $mail-list__header-background;
  border-bottom: 1px solid $mail-list__header-border;
  font-size: 12px;
  padding: 5px 10px;
}

.mail-list-item {
  border-bottom: 1px solid $border-color;
}

.mail-list-item__link {
  display: flex;
  height: 70px;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.mail-list-item__link--active {
  background: $selected-background;

}

.mail-list-item__name {
  flex: 3 3 auto;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 14px;
  color: $text-color--selected;
}

.mail-list-item__datetime {
  flex: 1 1 auto;
  font-weight: normal;
  font-size: 10px;
  text-align: right;
  color: $text-color;
}

.mail-list-item__subject {
  flex: 4 4 auto;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  font-size: 12px;
}

$store-list__background: #E8EEF6;
$store-list__selected-background: #DADEEA;

.store-list {
  background: $store-list__background;
  height: 100%;
  width: 100%;
}

.store-list-item {
  display: flex;
  border-bottom: 1px solid $border-color;
  align-items: center;
  height: 40px;
  padding: 0 20px;
}

.store-list-item__name {
  padding-left: 10px;
  line-height: 40px;
  font-size: 12px;
  text-transform: capitalize;
}

.store-list-item--active {
  background: $store-list__selected-background;
  color: $text-color--selected;
}

.mail-store__container {
  display: flex;
}

.mail-store__list {
  flex: 1 1 auto;
  height: 100%;
  max-width: 250px;
  min-width: 250px;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

.mail-store__viewer {
  flex: 2 2 auto;
  height: 100%;
}

.mail-viewer {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
}

.mail-viewer__header {
  @extend %header-text;
  flex: 3 3 auto;

}

.mail-viewer__sender {
  flex: 1 1 auto;
}

.mail-viewer__sender span:last-of-type {
  padding-left: 10px;
  font-weight: normal;
}

.mail-viewer__recipient {
  flex: 1 1 auto;
}

.mail-viewer__recipient span:last-of-type {
  padding-left: 10px;
  font-weight: normal;
}

.mail-viewer__datetime {
  flex: 1 1 auto;
  text-align: right;
}

.mail-viewer__message {
  flex: 3 3 auto;
  width: 100%;
}

.mail-viewer__attachments {
    display: flex;
  flex: 3 3 auto;
  width: 100%;
}

.mail-viewer-attachments__item {
  flex: 1 1 auto;
  max-width: 150px;
  max-height: 150px;
  margin: 0 5px;
}

.mail-viewer-attachments__item-image {
  width: 100%;
}

.compose-mail {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.compose-mail__form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.compose-mail__header {
  @extend  %header-text;
}

.compose-mail__label {
  display: block;
}

.compose-mail__label--message {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.compose-mail__message {
  flex: 1;
  display: block;
  width: 100%;
}

.compose-mail__dropzone {
    width: 100%;
    height: 150px;
    border: 1px dashed $border-color;
}

%compose-button {
    border: 0px;
    background: $header-background;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    margin: 0 5px;

    &:first-of-type {
        margin-left: 0px;
    }
}

.compose-mail__submit-button {
    @extend %compose-button;
}

.compose-mail__save-draft-button {
    @extend %compose-button;
}

.compose-mail__attachments {
    display: flex;
    width: 100%;
    height: 100%;

}

.compose-mail__attachment {
    max-width: 150px;
    margin: 0 5px;
}

.compose-mail__attachment-image {
    height: 100%;
}
